@media (max-width: 500px) {
  #banner {
    padding: 0 !important;
  }
  #Mobile-brand {
    display: none;
  }
  #Mobile-navbar,
  #Mobile-sub-navbar,
  #Mobile-about,
  #Mobile-certificate {
    display: flex;
    flex-direction: column;
  }
  
  #Mobile-sub-navbar div {
    margin: 10px 0 10px 0;
    margin-left: 30px;
  }
  #Mobile-hidden {
    display: none;
  }
  #Mobile-hobby div {
    width: 120px;
  }
  #Mobile-hobby {
    margin-left: 40px;
  }
  #Mobile-project {
    flex-direction: column;
  }
  #Mobile-footer span {
    display: none;
  }
  #Mobile-footer li {
    width: 50px;
    padding-left: 0;
  }
}
